<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aysesenses.creditcalculationapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CreditCalculationApp" >

        <activity
            android:name=".ui.view.activities.deposit.DepositLoanOfferActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activities.transport.TransportPaymentPlanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activities.transport.TransportLoanOfferActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activities.house.HousePaymentPlanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activities.house.HouseLoanOfferActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activities.personal.PersonalLoanOfferActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activities.personal.PersonalPaymentPlanActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/Theme.CreditCalculationApp.NoActionBar"
            android:exported="true" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.CreditCalculationApp.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8817300710978096~8853062748" />
    </application>

</manifest>